@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Joel Hilton Film Collection Website!!</h1>

    <img src="~/img/JoelHiltonHeadshot.jpg" />
    <h3>Just look at this beautiful face.</h3>
</div>
