@{
    ViewData["Title"] = "My Podcasts";
}
<h1>@ViewData["Title"]</h1>

<h3>Checkout the baconsale <a href="https://baconsale.com/">website!!</a></h3>
<a href= "https://baconsale.com/"><img src="~/img/baconsale.jpg" /></a>


